body {
    font-family: 'Roboto Mono';
    background-color: #333333;
    color: lightgray;
    user-select: none;
}

.is-removed-from-layout {
    display: none !important;
}

button.canPurchase {
    border-color: green;
    transition-duration: 0.5s;
}

button.canPurchase:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

button.cantPurchase {
    border-color: red;
}

button.cantPurchase:hover {
    cursor: not-allowed;
}

button.purchased {
    border-color: purple;
}

button.purchased:hover {
    cursor: not-allowed;
}

button.glow {
    box-shadow: 0rem 0rem 0.5rem 0.5rem #ABBC4D;
}

#header-container {
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 28px;
    margin: 0px;
}

#menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 0rem 0.5rem 0rem;
}

.menu-buttons {
    text-align: center;
    font-size: 22px;
    width: 10rem;
    height: 3rem;
    color: lightgray;
    background-color: #333333;
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-width: 0.3rem;
    font-family: 'Roboto Mono';
    transition-duration: 0.5s;
}

.menu-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#generators-container {
    text-align: center;
}

.generators-buttons {
    margin: 0.4rem 0.2rem 0.4rem 0.2rem;
    font-size: 21px;
    line-height: 1.75;
    height: 11rem;
    width: 20rem;
    font-family: 'Roboto Mono';
    border-width: 0.3rem;
    color: lightgray;
    background-color: #333333;
}

#prestige-container {
    text-align: center;
    font-size: 21px;
}

#changelog-container {
    text-align: center;
    font-size: 22px;
}

#settings-container {
    text-align: center;
}

.settings-buttons {
    font-size: 22px;
    height: 3rem;
    font-family: 'Roboto Mono';
    color: lightgray;
    border-width: 0.3rem;
    margin: 5px;
    background-color: #333333;
    border-color: gray;
    transition-duration: 0.5s;
}

.settings-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}